table {
  width: 100%;
}
.row-header {
  text-align: right;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.table-container{
  margin: 0 auto;
  padding: 0 .5rem;
}


input {
  padding: 4px 2px;
  text-align: left;
  font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif;
}

th,
td {
  padding: .5rem 0;
}

tr.row-border td, tr.row-border th{
  //border-bottom: #e0e0e0 thin solid;
}

.year-header{
  //border-right: #cdcdcd solid thin;
  //background-color: #eeeeee;
  padding-left: .2rem;
  text-align: left;
  color: #343135;
  font-size: 1.25rem;
}

.table-row{
  margin: 1rem 0;
}
